# 데이터 분석을 위한 python (Pandas)

## Series
- pandas의 기본 객체 중 하나
- numpy의 ndarray를 기반으로 인덱싱 기능을 추가하여 1차원 배열을 나타냄
- index를 지정하지 않을 시, 기본적으로 ndarray와 같이 0-based 인덱스를 생성, 지정할 경우 명시적으로 지정된 index를 사용
- 같은 타입의 0개 이상의 데이터를 가질 수 있음

In [8]:
import numpy as np
import pandas as pd # pandas : 데이터 분석 라이브러리

### data로만 생성하기
- index는 기본적으로 0부터 자동적으로 생성

In [11]:
s1 = pd.Series([1,2,3])
s1

0    1
1    2
2    3
dtype: int64

In [12]:
s2 = pd.Series(['a','b','c'])
s2

0    a
1    b
2    c
dtype: object

In [13]:
s3 = pd.Series(np.arange(200))
s3

0        0
1        1
2        2
3        3
4        4
      ...
195    195
196    196
197    197
198    198
199    199
Length: 200, dtype: int64

- data, index 함께 명시하기

In [16]:
s4 = pd.Series([1,2,3],['index1','index2','index3'])
s4

index1    1
index2    2
index3    3
dtype: int64

- data, index, data type 함께 명시하기

In [27]:
s5 = pd.Series(np.arange(5), np.arange(100,105), dtype=np.int16) # dtype : 메모리 관리
s5

100    0
101    1
102    2
103    3
104    4
dtype: int16

### 인덱스 활용하기

In [29]:
s5.index

Int64Index([100, 101, 102, 103, 104], dtype='int64')

In [30]:
s5.values

array([0, 1, 2, 3, 4], dtype=int16)

1. 인덱스를 통한 데이터 접근

In [33]:
s5[104]

4

2. 인덱스를 통한 데이터 업데이트

In [35]:
s5[104] = 999
s5

100      0
101      1
102      2
103      3
104    999
dtype: int16

In [36]:
# 만일 인덱스와 값이 존재하지 않으면 추가도 가능하다.
s5[105] = 888
s5

100      0
101      1
102      2
103      3
104    999
105    888
dtype: int64

3. 인덱스 재사용하기

In [39]:
s6 = pd.Series(np.arange(6), s5.index)
s6

100    0
101    1
102    2
103    3
104    4
105    5
dtype: int64

### Series 함수를 활용하여 데이터 분석하기

In [40]:
import numpy as np
import pandas as pd

- size : 개수 반환
- shape : tuple 형태로 shape 반환
- unique() : 유일한 값만 ndarray로 반환
- count() : NaN을 제외한 개수를 반환 (NaN : Not a Number)
- mean() : NaN을 제외한 평균
- value_counts : NaN을 제외하고 각 값들의 빈도를 반환

In [45]:
# 용도 : 데이터가 누락되었거나, 다른 값이 들어와서 NaN으로 채워진 값을 다룰 때
s = pd.Series([1,1,2,1,2,2,2,1,1,3,3,4,5,5,7,np.NaN])
s

0     1.0
1     1.0
2     2.0
3     1.0
4     2.0
5     2.0
6     2.0
7     1.0
8     1.0
9     3.0
10    3.0
11    4.0
12    5.0
13    5.0
14    7.0
15    NaN
dtype: float64

In [46]:
# 개수 반환
len(s)

16

In [47]:
# 개수 반환
s.size

16

In [52]:
# tuple 형태로 shape 반환
s.shape

(16,)

In [53]:
# 복수의 숫자를 한 개의 값으로 가져옴 (유일한 값만 ndarray로 반환)
s.unique()

array([ 1.,  2.,  3.,  4.,  5.,  7., nan])

In [54]:
# NaN을 제외한 개수를 반환
s.count()

15

In [57]:
# NaN을 제외한 평균
s.mean()

2.6666666666666665

In [58]:
# NaN을 제외하고 각 값들의 빈도를 반환 (상용!)
s.value_counts()

1.0    5
2.0    4
5.0    2
3.0    2
7.0    1
4.0    1
dtype: int64

In [62]:
# index를 활용하여 멀티플한 값에 접근
s[[5,7,8,10]]

5     2.0
7     1.0
8     1.0
10    3.0
dtype: float64

In [64]:
# 위의 것을 기반으로 - NaN을 제외하고 - 각 값들의 빈도를 반환
s[[5,7,8,10]].value_counts()

1.0    2
3.0    1
2.0    1
dtype: int64

### head, tail 함수
- head : 상위 n개 출력, 기본 5개
- tail : 하위 n개 출력, 기본 5개

In [65]:
s

0     1.0
1     1.0
2     2.0
3     1.0
4     2.0
5     2.0
6     2.0
7     1.0
8     1.0
9     3.0
10    3.0
11    4.0
12    5.0
13    5.0
14    7.0
15    NaN
dtype: float64

In [73]:
s.head(n=7) # 기본은 5개이나, 괄호 안에 조절 가능

0    1.0
1    1.0
2    2.0
3    1.0
4    2.0
5    2.0
6    2.0
dtype: float64

In [74]:
s.tail()

11    4.0
12    5.0
13    5.0
14    7.0
15    NaN
dtype: float64