# Hello Python

- 수학에 나온 기호처럼 쓰기

$y=3x$

- 파이썬 코드처럼 출력 하기
```python
a = 10
print(a)
```

In [1]:
print('Hello Python')

Hello Python

## 기본 타입 및 변수의 이해

In [2]:
a = 10 # int
b = 11.4 # float

In [3]:
print(a, b)
print(a, 10, 200, b)

10 11.4
10 10 200 11.4

In [4]:
# Shift + Tab : 함수의 정의를 볼 수 있다.
print(a, b, 10, 100, sep='*', end='@')

10*11.4*10*100@

In [5]:
print(a)
print(a, b)
a # 간단하게 변수값 확인

10
10 11.4

10

In [6]:
# 문법 오류 (변수는 숫자가 먼저 오면 안된다.)
3abc = 100

SyntaxError: invalid syntax (<ipython-input-6-f0865ef31148>, line 2)

## 기본 데이터 타입
- 정수(int)
- 실수(float)
- 문자열(str)
- 불리언(boolean)

In [7]:
a = 10
b = 11.45

# 변수의 타입을 알고 싶으면...
print(type(b))

<class 'float'>

In [8]:
# 변수를 생성하고 싶은데 초기화 값을 모를 때... None
c = None
print(c)

None

In [9]:
# 비교 연산자
a = 5
b = 4
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)
print(a == b)
print(a != b)

True
False
True
False
False
True

In [10]:
# 변수의 값은 대입이 발생하기 전에는 바뀌지 않는다!
a = 9
a - 3
print(a)

9

In [11]:
# 변수의 값 바꾸기
a = 9
t = a - 3
a = t
print(a)

6

In [12]:
# 변수의 값 바꾸기 .. 보통 이렇게 합니다.
a = 9
a -= 3
print(a)

6

## string(문자열)

In [13]:
a = 'Hello" world' # 문자열 안에서 큰 따옴표("")를 사용할 때, 작은 따옴표로 묶는다.
b = "Hello' world" # 문자열 안에서 작은 따옴표('')를 사용할 때, 큰 따옴표로 묶는다.
print(a)
print(b)

Hello" world
Hello' world

In [14]:
# 여러 줄로 들여쓰기 문자열을 쓸 때...
c = '''Hello 
world'''
d = """Hello 
world"""
print(c)
print(d)

Hello
world
Hello
world

### escape string(이스케이프 문자)
- 문자열내의 일부 문자의 의미를 달리하여 특정 효과를 주는 것
- \n : new line
- \t : tab

In [15]:
print('Hello world\n\n') # 아래 두 칸 띄우기
print('haha \t ha') # Tab 기능

Hello world


haha 	 ha

### indexting & slicing string(문자열 인덱스 및 추출)

In [16]:
a = 'Hello world' # 길이 : 11
print(a[10])

d

### -1 인덱스
- 파이썬은 음수 인덱스를 지원
- -1 : 가장 마지막 인덱스
- -2 : 마지막에서 두번째 인덱스

In [17]:
a = 'Hello world'
print(a[-1])
print(a[-2])
print(a[-11])

d
l
H

In [18]:
a = 'Hello world'
print(a[0:4]) # 0~4 사이의 문자를 출력하라(마지막 인덱스는 포함하지 않음)
print(a[:5]) # 0(처음) 생략 가능
print(a[3:]) # 끝까지~
print(a[:]) # 전부

Hell
Hello
lo world
Hello world

### upper
- 대문자로 치환

In [19]:
a = "hello world"
a.upper() # a. 누르고 Tab

'HELLO WORLD'

### replace
- 문자열 내의 특정 문자 치환

In [20]:
a = "hello world"
a.replace('l','Z') # 모든 'l'을 'Z'로 바꾸기

'heZZo worZd'

### format
- 문자열내의 특정한 값을 변수로부터 초기화하여 동적으로 문자열을 생성

In [21]:
temperature = 25.5
prob = 80.0

a = '오늘 기온{}도 이고, 비올 확률은 {}% 입니다.'.format(temperature, prob)
print(a)

오늘 기온25.5도 이고, 비올 확률은 80.0% 입니다.

### split
- 문자열을 특정한 문자 구분하여(delimiter) 문자열의 리스트로 치환

In [22]:
a = 'hello world what a nice weather'
a.split('w')

['hello ', 'orld ', 'hat a nice ', 'eather']

## list & tuple
- 복수개의 값을 담을 수 있는 데이터 구조
- 실생활에서 사용하는 리스트(학생 리스트, 성적 리스트 등)과 동일한 의미로 이해
- list - mutable(생성된 후에 변경 가능)
- tuple - immutable(생성된 후에 변경 불가능) *문자열도 변경 불가능

### list 초기화
- []안에 값을 담아서 생성
- list() 함수로 생성
- str.split() 함수로 생성

In [23]:
a = []
print(a)

[]

In [24]:
a = [1,2,3,5,10]
print(a)

# 여러개의 타입을 동시에 담을 수 있고, list도 담을 수 있다.
b = ['korea','japan',1,33,[55,66]]
print(b)

[1, 2, 3, 5, 10]
['korea', 'japan', 1, 33, [55, 66]]

### list() 함수
- 다른 데이터 타입을 리스트로 변환할 때도 사용

In [25]:
a = 'hello world'
b = list(a)
print(b)

# tuple -> list
c = (1,2,3) # tuple
d = list(c)
print(d)

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']
[1, 2, 3]

### string split 함수

In [26]:
a = 'hello world nice weather'
b = a.split() # 괄호안이 비어 있으면 띄어쓰기로 나눔
print(b)

['hello', 'world', 'nice', 'weather']

### list indexing
- 문자열의 인덱싱과 동일하게 동작
- []연산자를 이용하여 항목 얻어오기
- [i] : i번째 원소를 반환
- i가 음수인 경우에도 가능

In [27]:
a = [1,2,3,4,5,6]
print(a[2])
print(a[5])
print(a[-1]) # 음수

3
6
6

### list 개별 아이템에 접근
- 인덱스에 접근하여 값을 업데이트 가능

In [28]:
# 불변(immutable) : 문자열은 한 번 생성되면 절대 바뀌지 않는다(tuple 도 같음)
a = 'hello world'
print(a[0])

# h를 j로 바꾸고 싶으면...
# a[0] = 'j' # error

b = 'jello world' # 방법1 : 새로 생성
c = 'j' + a[1:] # 방법2 : 추가
d = a.replace('h', 'j') # 방법3 : replace(치환)

print(a)
print(b)
print(c)
print(d)

h
hello world
jello world
jello world
jello world

In [29]:
# list는 mutable(생성된 후에 변경 가능)
a = [1,2,3,4,5]
a[0] = 100
a[-1] = 99
print(a)

[100, 2, 3, 4, 99]

### list slicing

In [30]:
a = [1,2,3,4,5,6,7,8]
print(a[4:7])
print(a[:7])
print(a[3:])
print(a[:])

[5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]

In [31]:
# slicing = start:end:increment(건너뛰기)
a = [1,2,3,4,5,6,7,8]
a[1:7:3]

[2, 5]

## list 멤버 함수
- 생성된 리스트 객체에 동작하는 함수
- 향후, 클래스와 멤버 함수 개념을 이해할 예정

### append()
- 리스트의 '마지막'에 항목을 추가함

In [32]:
a = [1,2,3,4,5]
a.append(10)
print(a)

[1, 2, 3, 4, 5, 10]

### extend()
- 리스트를 연장
- +=로도 가능함

In [33]:
a = [1,2,3,4,5]
b = [6,7,8,9,10]

# [1,2,3,4,5,6,7,8,9,10]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### insert()로 항목 추가
- 리스트의 '원하는 위치에' 추가 가능
- 앞에 인덱스를, 뒤에 아이템을 명시

In [34]:
a = [1,3,4,5,6]
a.insert(1,222)
print(a)

[1, 222, 3, 4, 5, 6]

### remove()
- 값으로 항목 삭제

In [35]:
a = [1,2,30,30,4,5]
a.remove(30) # 같은 숫자가 여러개 있을 경우 앞에만 지움
print(a)

[1, 2, 30, 4, 5]

### pop()
- 인덱스로 지움
- 지우고자 하는 아이템을 반환 후, 삭제
- 값을 넣지 않으면 맨 마지막을 지움

In [36]:
a = [1,2,3,4,5]
d = a.pop(1)
print(a)
print(d)

[1, 3, 4, 5]
2

### index()
- 찾고자 하는 '값'의 인덱스 반환

In [37]:
a = [2,6,7,9,10]
a.index(10)
print(a)

[2, 6, 7, 9, 10]

### in 키워드
- 리스트 내에 해당 값이 존재하는지 확인
- value in [list]
- True, False 중 한가지로 반환

In [38]:
a = [1,2,3,4,5,10]
b = 7

c = b in a
print(c)

False

### list 정렬
- sort() : 리스트 자체를 내부적으로 정렬
- sorted() : 리스트의 정렬된 복사본을 반환

In [39]:
a = [9,10,9,19,1,2,20,21,7,8]
a.sort()
print(a)

# 내림차순 정렬
a.sort(reverse=True)
print(a)

# sorted() 내장함수 이용
b = sorted(a)
print(b)

[1, 2, 7, 8, 9, 9, 10, 19, 20, 21]
[21, 20, 19, 10, 9, 9, 8, 7, 2, 1]
[1, 2, 7, 8, 9, 9, 10, 19, 20, 21]

## Tuple
- 리스트와 같이 복수개의 값을 갖는 컬렉션 타입
- 생성된 후 변경이 불가능

In [40]:
a = [1,2,3,4] # list
b = (1,2,3,4)
print(type(a))
print(type(b))

a[0] = 100
print(a)

b[0] = 100 # 변경 불가! item assignment
print(b)

<class 'list'>
<class 'tuple'>
[100, 2, 3, 4]

TypeError: 'tuple' object does not support item assignment

### Tuple unpacking
- 변수를 여러개로 선언하는 동시에 차례대로 변수 대입 가능
- 멀티플 리턴이 가능

In [41]:
a, b, c, d = 100, 200, 300, 400
print(a,b,c,d)

100 200 300 400

- 연습문제 : a와 b의 값을 교환하시오. (Tuple 의 전형적인 문제)

In [42]:
a = 5
b = 4
print(a, b)

# # temp 이용
# temp = a
# a = b
# b = temp
# print(a, b)

# Tuple 이용
a, b = b, a
print(a, b)

5 4
4 5

## dictionary
- 키와 값을 갖는 데이터 구조
- 키는 내부적으로 hash 값으로 저장
- 순서를 따지지 않음. 즉, index가 없음
- 많이 사용됨

In [43]:
a = {'Korea':'Seoul',
    'Canada':'Ottawa',
    'USA':'Washington D.C'}
print(a['USA'])

Washington D.C

In [44]:
# 항목 추가 및 변경
a = {'Korea':'Seoul',
    'Canada':'Ottawa',
    'USA':'Washington D.C'}

a['Japan'] = 'Tokyo'
print(a)

{'Korea': 'Seoul', 'Canada': 'Ottawa', 'USA': 'Washington D.C', 'Japan': 'Tokyo'}

In [45]:
# dict 는 value가 중복이 안 되고 엎어쓰기 됨
a = {'Korea':'Seoul',
    'Canada':'Ottawa',
    'USA':'Washington D.C'}

a['Japan'] = 'Tokyo'
a['Japan'] = 'Nagoya'
print(a)

{'Korea': 'Seoul', 'Canada': 'Ottawa', 'USA': 'Washington D.C', 'Japan': 'Nagoya'}

### update()
- 두 dictionary 를 병합
- 겹치는 키가 있다면 parameter로 전달되는 키 값이 overwrite 된다.

In [46]:
a = {'a':1,'b':2,'c':3}
b = {'a':2,'d':4,'e':5}

a.update(b)
print(a)

{'a': 2, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

### key 삭제
- pop 함수 사용
- del 키워드 사용 *범용적으로 삭제됨

In [47]:
# pop 함수 사용
a = {'a':1,'b':2,'c':3}
print(a)

a.pop('b')
print(a)

{'a': 1, 'b': 2, 'c': 3}
{'a': 1, 'c': 3}

In [48]:
# del 키워드 사용
a = {'a':1,'b':2,'c':3}
print(a)

del a['a']
print(a)

{'a': 1, 'b': 2, 'c': 3}
{'b': 2, 'c': 3}

### clear()
- dictionary 의 모든 값을 초기화

In [49]:
a = {'a':1,'b':2,'c':3}
print(a)
a.clear()
print(a)

{'a': 1, 'b': 2, 'c': 3}
{}

### in
- key값 존재 확인
- O(1)연산 - dictionary 의 크기와 관계없이 항상 연산의 속도가 일정하다는 의미 -> 리스트는 많을 경우 성능 저하가 초래됨

In [50]:
a = {'a':1,'b':2,'c':3}
print(a)

{'a': 1, 'b': 2, 'c': 3}

In [51]:
a = [1,2,3,4,5,6,7,8,9,10] # list : 많으면 성능 나쁨
b = {'a':1,'b':2,'c':3} # dict : 많아도 성능 좋음

print(10 in a)
print('b' in b)

True
True

### value access
- dict[key] 로 접근, 키가 없는 경우 에러 발생
- .get() 함수로 접근, 키가 없는 경우 None 반환

In [52]:
a = {'a':1,'b':2,'c':3}
print(a.get('a'))

if 'b' in a:
    print(a['c'])

1
3

### 모든 key, values 접근
- keys() : 키만 반환
- values() : 값만 반환
- items() : 키, 값의 Tuple을 반환

In [53]:
a = {'a':1,'b':2,'c':3}
print(a)

print(a.keys()) # dict에서 모든 key
print(a.values()) # dict에서 모든 value

print(list(a.keys())) # dict에서 모든 key -> list로 변환 가능
print(list(a.values())) # dict에서 모든 value -> list로 변환 가능

# key, value에 tuple로 된 list 반환
list(a.items())

{'a': 1, 'b': 2, 'c': 3}
dict_keys(['a', 'b', 'c'])
dict_values([1, 2, 3])
['a', 'b', 'c']
[1, 2, 3]

[('a', 1), ('b', 2), ('c', 3)]

## set (거의 사용 안함)
- dictionary에서 key만 활용하는 데이터 구조로 이해
- 수학에서의 집합과 동일한 개념

In [54]:
# 중복을 허용하지 않고(교집합), 순서대로 나열할 때 사용
a = {1,1,2,3,3,4,1,5}
print(a)

{1, 2, 3, 4, 5}

- set()으로 집합으로 변환

In [55]:
# list는 중복 허용되어 출력됨
a = [1,1,2,3,3,4,1,5]
print(a)

b = set(a)
print(b)

[1, 1, 2, 3, 3, 4, 1, 5]
{1, 2, 3, 4, 5}

### set operations
- 수학 연산과 동일
- 합집합, 교집합, 차집합, 부분집합 등 지원

In [56]:
a = {1,2,3}
b = {2,3,4}

# 합집합
print(a.union(b))

# 교집합
print(a.intersection(b))

# 차집합
print(a.difference(b))

# 부분집합
print(a.issubset(b)) # a는 b의 부분집합이 아님

{1, 2, 3, 4}
{2, 3}
{1}
False

## 조건문 (condition) if 활용하기
- if, elif, else 키워드를 사용하며, if, elif, else 블록에 종속된 코드는 들여쓰기로 표현 가능
- 들여쓰기 된 코드를 블록(block), 또는 코드블록(code block)이라고 함
- 모든 블록의 시작점의 마지막에는  :(콜론; colon) 을 추가해야 함

In [57]:
if 6 >= 5:
# if 6 == 5:
    print('6 is greater than 5')
    print('Yeah, it is true')
    print('it is really true')
    
print('This code is not belongs to if statements')

6 is greater than 5
Yeah, it is true
it is really true
This code is not belongs to if statements

In [58]:
a = 10
b = 8
c = 11

- 논리표
    - AND
        - T AND T : T
        - T AND F : F
        - F AND T : F
        - F AND F : F
    - OR
        - T AND T : T
        - T AND F : T
        - F AND T : T
        - F AND F : F
    - NOT
        - NOT T : F
        - NOT F : T
- 우선순위
    - NOT > AND > OR

In [59]:
if (a == 10 or b == 9) and c == 12:
    print('That is true') # false

In [60]:
if not a == 10:
    print('That is true') # false

### if의 조건이 bool이 아닌 경우
- 정수, 실수, 문자열 리스트 등 기본 타입도 조건에 사용 가능
- False로 간주되는 값(각 타입의 기본값)
    - None
    - 0
    - 0.0
    - ''
    - [] -> 빈 list
    - () -> 빈 tuple
    - {} -> 빈 dictionary
    - set() -> 빈 집합
- 그 밖에는 모두 True 로 간주

In [61]:
a = []
if a:
    print('print')

### if, else

In [62]:
# 짝수인 경우에는 2를 나눈 값을 출력하고, 홀수인 경우에는 1을 더한 값을 출력하라.
a = 11
if a%2 == 0:
    print(a / 2)
else:
    print(a + 1)

12

### if, elif, else

In [63]:
a = 16
if a%4 == 0:
    print('a is divisible by 4')
elif a%4 == 1:
    print('a % 4 is 1')
elif a%4 == 2:
    print('a % 4 is 2')
else:
    print('a % 4 is 3')

a is divisible by 4

In [64]:
a = 16
if a%4 == 0:
    print('a is divisible by 4')
if a%4 == 1:
    print('a % 4 is 1')
if a%4 == 2:
    print('a % 4 is 2')
else:
    print('a % 4 is 3')

a is divisible by 4
a % 4 is 3

### 중첩 조건문(nested condition)
- 중첩의 의미는 depth(깊이)로 생각할 수 있으며, depth의 제한은 없음

In [65]:
a = 1
b = 99
c = 44

if a == 10:
    print('a')
    if b == 9:
        print('b')
        if c == 8:
            print('c is 8')
else:
    print('nothing')

nothing

## 반복문(loop)
- while 키워드

In [66]:
a = [1,10,9,24,566,23,45,67,89]

i = 0 #인덱스
while i < len(a):
    print('index : ', i ,', value : ', a[i])
    i += 1

index :  0 , value :  1
index :  1 , value :  10
index :  2 , value :  9
index :  3 , value :  24
index :  4 , value :  566
index :  5 , value :  23
index :  6 , value :  45
index :  7 , value :  67
index :  8 , value :  89

In [67]:
# 20보다 큰 경우 출력하기
a = [1,10,9,24,566,23,45,67,89]

i = 0 #인덱스
while i < len(a):
    if a[i] > 20:
        print(a[i])
    i += 1

24
566
23
45
67
89

In [68]:
# 짝수만 출력하기
a = [1,10,9,24,566,23,45,67,89]

i = 0 #인덱스
while i < len(a):
    if a[i] % 2 == 0:
        print(a[i])
    i += 1

10
24
566

### 무한루프
- while의 경우 종료가 되지 않도록 코드를 작성하면 블록에서 빠져나올 수 없음

In [1]:
# kernel 재시작 : kernel > Restart & Clear Output
# while True:
#     print('무한루프...')

# 무한루프는 쓰지 마시오! (실행하지 마!)

### break
- loop를 중단할 때 사용
- 보통 조건문 안에서 수행되며, 조건을 만족하는 경우 loop를 탈출하기 위해 사용

In [2]:
a = [1, 10, 9, 24, 25, 26]

i = 0
while i < len(a):
    if a[i] > 20:
        break
    print(a[i])
    i += 1

1
10
9

### continue
- break 처럼 반복을 중단하여 빠져나오지 않고, 다시 while 조건으로 점프함
- 특정한 경우에는 코드를 수행하지 않고 다음으로 건너 뛰기 위해 사용

In [3]:
a = 7
while a>0:
    a -= 1
    if a == 5:
        continue
    print(a)

6
4
3
2
1
0

In [4]:
# 1~100까지 더하기
num = 1
_sum = 0
while num <= 100:
    _sum += num
    num += 1
print(_sum)

5050

## for 반복문
- 리스트, 문자열 등등 순회 가능한 객체를 순회하면서 값을 처리할 때 사용
- 아래 예제와 같은 문법으로 사용
- i는 매번 수행될 때마다, a의 아이템으로 순차적으로 변경됨
- 모든 아이템이 순회되면 for 블록 종료

In [12]:
# 예제
a = [1,2,4,3,5]
for i in a:
    print(i, i*2)
print('end')

1 2
2 4
4 8
3 6
5 10
end

### 문자열의 아이템 출력하기
- 문자열의 경우 순회 가능

In [13]:
a = 'Hello world'
for ch in a:
    print(ch)

H
e
l
l
o

w
o
r
l
d

### 리스트 아이템 출력하기

In [21]:
a = [1,10,3,4,5]
for num in a:
    if num%2 == 0:
        print(num, num/2)
    else:
        print(num, '> 짝수가 아님')

1 > 짝수가 아님
10 5.0
3 > 짝수가 아님
4 2.0
5 > 짝수가 아님

### dict의 아이템 출력하기
- dictionary의 경우 기본적으로 순회하게 되면 key 값을 참조
- key()함수를 이용하여 key 값만 순회 가능
- value()함수를 이용하여 value 값만 순회 가능
- items()함수를 이용하여 tuple 형태로 key, value 순회 가능

In [28]:
a = {'korea':'seoul', 'japan':'tokyo', 'canada':'ottawa'}

In [29]:
for key in a:
    print(key, a[key])

korea seoul
japan tokyo
canada ottawa

In [25]:
for value in a.values(): # values() 함수 활용
    print(value)

seoul
tokyo
ottawa

In [27]:
# tuple 인 경우, Key와 Value를 한꺼번에 가져올 수 있음
list(a.items())

[('korea', 'seoul'), ('japan', 'tokyo'), ('canada', 'ottawa')]

In [30]:
for key, value in a.items():
    print(key, value)

korea seoul
japan tokyo
canada ottawa

### for에서 index 사용하기
- 기본적으로 for에 리스트를 순회하는 경우, 값만 추출함
- enumerate 함수 사용!

In [35]:
a = [1,2,4,3,5]
for index, value in enumerate(a):
    if index > 3:
        print(index, value)

4 5

### break

In [37]:
a = [100,90,80,70,60,50]
for num in a:
    if num < 80:
        break
    print(num)

100
90
80

### continue

In [38]:
a = [100,90,80,70,60,50]
for num in a:
    if num >= 60 and num <= 70:
        continue
    print(num)

100
90
80
50

### loop 중첩
- 반복문의 경우에도 중첩하여 사용 가능
- 중첩이라는 것은 반복문 블록의 코드안에 또 반복문의 코드가 작성되는 것을 의미
- 이런 경우, 내부 루프는 외부 루프가 수행되는 만큼 반복 수행됨
- 또한 중첩의 경우 무함히 가능

In [40]:
a = [1,2,4]
for i in a:
    for j in a:
        print(i * j)

1
2
4
2
4
8
4
8
16

### 구구단 출력하기

In [61]:
x = [2,3,4,5,6,7,8,9]
y = [1,2,3,4,5,6,7,8,9]
for num1 in x:
    for num2 in y:
        print(num1,'x',num2,"=",num1*num2)
    print("-----------")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
-----------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
-----------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
-----------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
-----------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
-----------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
-----------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
-----------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
-----------

## collection의 길이
- len() 내장함수로 계산 가능
- 내장함수란 파이썬 내부에 구현되어 있어서, import하지 않고도 사용 가능한 함수를 의미
- abs, len, type, range 등이 있음

In [63]:
a = [1,2,3,4,5,6]
len(a)

6

### range 함수
- 리스트를 쉽게 만들 수 있는 내장함수
- 주어진 값에 따라 다양한 결과를 반환

In [73]:
# 1부터 시작하여 11 이전까지
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [76]:
# 1부터 시작하여 101 이전까지 + 숫자5씩 건너뛰기
list(range(1,101,5))

[1, 6, 11, 16, 21, 26, 31, 36, 41, 46, 51, 56, 61, 66, 71, 76, 81, 86, 91, 96]

### range 함수 연습문제
- 1부터 100사이의 5의 배수만을 갖는 리스트를 생성하시오

In [83]:
print(list(range(5,101,5)))

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

Chapter 03. 조건문과 반복문 - 07. 조건문, 반복문 연습 문제 풀이

In [4]:
print(df)

       순위        키워드  PC 광고 단가  모바일 광고 단가  PC 검색  모바일 검색  총 검색수       상품수  \
0     231    에이센트디퓨저       100        110    480    3690   4170        11
1    1024    돌하르방라이언        70         70    140    1260   1400        10
2     404     딥디크까루셀       240        280     30     580    610         4
3     384      메르시엔코       340        100    240    1520   1760        21
4     703     선진달무드등       110        120    130    1390   1520        11
..    ...        ...       ...        ...    ...     ...    ...       ...
582   303  빈티지인테리어소품       220        480    210     930   1140   1048033
583   648     인테리어캔들       150        300    180    1030   1210   1757256
584   700     만원이하선물       350        370    120     990   1110   2378816
585   481      디자인문패       520        990    120     510    630   1932142
586   325     diy만들기        70         70    600    2040   2640  19460393

        경쟁강도  PC클릭률  모바일클릭률  네이버 쇼핑 건수                      추천 카테고리
0       0.00   5.74    3.40        NaN  가구/인테리어 > 인테리어소품 > 아로마/캔들용품
1       0.01   0.00    0.00        NaN      가구/인테리어 > 인테리어소품 > 장식인형
2       0.01  11.54    7.28        NaN          면세점 > 시계/기프트 > 생활소품
3       0.01   3.13    2.24        NaN  가구/인테리어 > 인테리어소품 > 아로마/캔들용품
4       0.01   1.54    0.28        NaN        가구/인테리어 > 인테리어소품 > 조명
..       ...    ...     ...        ...                          ...
582   919.33   7.44    7.20        NaN                          NaN
583  1452.28   1.43    0.39        NaN                          NaN
584  2143.08   0.79    0.45        NaN                          NaN
585  3066.89   3.60    2.96        NaN                          NaN
586  7371.36   2.48    2.29        NaN                          NaN

[587 rows x 13 columns]